/*paleta de colores
#7B21B2 oscuros
#FFB52F
#A616FF base
#26CC71
#06B255 claros
*/
html{
    font-family: 'Source Code Pro', monospace;
}

.content {
    background-color: white;
    /* max-width: 960px;
    max-height: 600px;
    width: 100%;
    height: 100%; */
    height: 85vh;
    width: 85vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    padding: 0.5em;
    border-radius: 20px;
    overflow: scroll;
}
.container {  
 background: #59C173;  /* fallback for old browsers */
background: -webkit-linear-gradient(
to right,
 #5D26C1,
 #a17fe0,
 #59C173
 );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(
to right,
 #5D26C1,
 #a17fe0,
 #59C173
 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.table {
    width: 100%;
    border-spacing: 0;
}
.table th,
.table td {
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color:#00FF7F;
}
td:nth-of-type(1) {
    font-size: 2.0em;
    color:crimson;
}
th {
    display: none;
}
td {
    display:block;
   
}
.fa-gem {
    color:#800080;
}

.center {
    text-align: center;
}
.underline {
    border-bottom: solid 5px #800080;
    padding-bottom: 20px;
}
.position {
    background-color:#800080;
    padding: 10px;
    border-radius: 4px;
    margin-left: 5px; 
}
/* .actions {
    position: absolute;
    top: 1em;
    right: 1em;
} */
.actions {
    position: sticky;
    top:1em;
    left: 1em;
    display: flex;
    justify-content: flex-end;
}
.close {
    height: 40px;
    width: 40px;
    color:black;
    background-color: #800080;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}


.title {
    text-transform: uppercase;
    text-align: center;
}
.title-item {
    font-size: 0,8em;
    text-transform: uppercase;
}

.item-image {
    display: none;
}
iframe {
    width: 85vw;
}
i:hover {
    color:red;
}
@media(min-width:600px){
 th{
    display:table-cell;
 }
 td{
    display:table-cell;
 }
 td:nth-of-type(1){
    font-size: 1em;
    color:black;
 }
  .content{
   width: 70vw;
   height: 70vh;
   padding: 1,8em;
  }
  .item-image{
    display: inline-block;
 }
 iframe{
    width: 25vw;
    height: 17vw;
 }
  .inline{
    display: inline-block;
 }     
  .actions {
    position: absolute;
    top: 1em;
    right: 1em;
 } 
 .title-item {
    font-size: 1,5em;
    text-transform: uppercase;
 }

}

